body {
  font-family: Arial, sans-serif;
  background-color: #f6ba9c;
}
.top-bar {
  background: #f1f1f1;
  padding: 5px 15px;
  font-size: 14px;
}
.header {
  background: #66CCCC;
  padding: 10px 15px;
}
.logo {
  font-size: 28px;       /* Kích thước chữ */
  font-weight: bold;     /* Làm đậm chữ */
  color: #3f5c86;         /* Màu sắc chữ */
  text-transform: uppercase; /* Chuyển chữ thành hoa */
  letter-spacing: 2px;   /* Khoảng cách giữa các chữ cái */
  transition: color 0.3s ease, transform 0.3s ease; /* Hiệu ứng chuyển màu và thay đổi kích thước khi hover */
}

.logo:hover {
  color: #ff5733; /* Màu khi hover (chọn màu theo ý thích) */
  transform: scale(1.1); /* Phóng to logo khi hover */
}

.logo-link {
  text-decoration: none; /* Bỏ gạch chân khi di chuột vào */
}

.nav-categories {
  background: #8f9d9d;
  padding-top: 15px;
}
.nav-categories a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}
.nav-categories a:hover {
  background: #f8f9fa;
}

.promo {
  background: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.combo-section img {
  width: 100%;
}

.carousel-item {
  transition: transform 1s ease-in-out;
}

#bannerCarousel {
  max-height: 400px;
  background-color: black;
  overflow: hidden;
}

#bannerCarousel .carousel-inner {
  height: 100%;
}

#bannerCarousel .carousel-item {
  height: 400px;
}

#bannerCarousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Không bị méo, có khoảng đen nếu ảnh không đủ */
  background-color: black;
}



.product-card {
  border: none;

  padding: 10px;
  height: 100%;
}

.product-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 6px;
}


.product-title {
  min-height: 40px;
}

.product-author {
  min-height: 20px;
  font-size: 0.9em;
  color: #666;
}

h5.fw-bold {
  background: #66CCCC;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0px -12px 0px -12px;
  padding: 30px;
}


.footer {
  background-color: #66CCCC;
  padding: 2rem 0;
  margin: 0;
}


.footer h6 {
  padding-top: -15px;
}

.footer a {
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer img {
  margin-right: 8px;
}
